@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "./helper/mixins";
@import "./helper/placeholders";
@import "./helper/variables";
@import "./components/_navbar.scss";
@import "./components/_sections.scss";
@import "./components/_footer.scss";

body {
    font-family: $main-font;
    background: $bgr-light-green;
}

.uppercase {
    text-transform: uppercase;
}