section {
    @extend %padding-section;
    position: relative;
}


#landing {
    background: $bgr-green;
    padding-bottom: 5rem;
    h1, p {
        color: $yellow;        
        z-index: 999;
    }    
}



#calculate {
    text-align: center;

    #calculate-div {
        background: $bgr-green;
        border-radius: 1rem;
        margin: 1rem;
        padding: 0.5rem;
        text-align: left;

        p {
            color: $font-white;
        }

        img {
            height: 64px;
            margin: 1rem;
        }

        a {
            color: $font-green;
        }
    }
   
}

#greencheck {
    background: $bgr-green;
    text-align: center;

    #greencheck-div {
        background: $bgr-light-green;
        border-radius: 1rem;
        margin: 1rem;
        padding: 0.5rem;

        p {
            color: black;
        }

        img {
            height: 64px;
            margin: 1rem;
        }

        a {
            color: $font-green;
        }

        // &:last-of-type div {
        //     text-align: left;
        // }
    }
   
}

#resources {

    li::marker {
        color: $font-green;
    }

    a {
        color: $font-green;
    }
    ul {
        margin: 0;
        padding: 1rem;
    }
}

#mission {
    background: $bgr-green;
    article p {
        color: $font-white;
    }
}

// landing circles
.landing-span {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    // background-color: $bgr-green;
    border-color: $yellow;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50% -50%);
    // transform: translateY(-95%);
    transform: translateX(-50%);
    // transform: translateZ(10%);
    z-index: 98;
     display: flex;
    justify-content: center;
    align-items: center;
}

.landing-span2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $bgr-green;
    border-color: $yellow;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 63%;
    left: 60%;
    transform: translate(-50% -50%);
    // transform: translateY(-95%);
    // transform: translateX(-50%);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

// #landing p {
//     color: $yellow;
//         font-size: 0.8rem;
//         position: absolute;
//         text-align: center;
//         z-index: 999;
// }

.dark-span {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: $bgr-light-green;
    border-color: $bgr-green;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    z-index: 99;


    left: 8%;
    top: -13%;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: $bgr-green;
        font-size: 0.8rem;
        position: absolute;
        text-align: center;
    }
}

.light-span {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: $bgr-green;
    border-color: $bgr-light-green;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    z-index: 99;
    
    left: 8%;
    top: -13%;

    display: flex;
    justify-content: center;
    align-items: center;

    p {        
        color: $bgr-light-green;
        font-size: 0.8rem;
        position: absolute;
        text-align: center;
    }
}

form {
    *{
        display: block;
        margin: auto;
    }
}

.dark {
    h3 {
        color: $font-green;
    }
    p {
        color: $font-green;
    }
    button {
        color: $font-white;
        background-color: $bgr-green;
        border-radius: 15px;
        padding: 0.2rem 1.5rem;
        border: 0;
        font-size: 0.7rem;
       
    }
    input {         
        background-color: $bgr-green;
        border-radius: 15px;
        padding: 0.4rem 1.8rem;
        border: 0;
        font-size: 0.7rem;
        margin-bottom: 1rem;
        text-align: center;

        &::placeholder {
            color: $font-white;
            text-align: center;
        }

        &:focus {
            outline: none;
        }
    }
  
}

.light {
    h3  {
        color: $yellow;
    }
    p {
        color: $yellow; 
    }
    button {
        color: $font-green;
        background-color: $bgr-light-green;
        border-radius: 15px;
        padding: 0.2rem 1.5rem 0.2rem 1.5rem;
        border: 0;
        font-size: 0.7rem;
        
    }
    input {         
        background-color: $bgr-light-green;
        border-radius: 15px;
        padding: 0.4rem 1.8rem;
        border: 0;
        font-size: 0.7rem;
        margin-bottom: 1rem;
        text-align: center;

        &::placeholder {
            color: $font-green;
            text-align: center;
        }

        &:focus {
            outline: none;
        }
    }
}


#calculate h3:first-of-type {  
    color: $bgr-green;    
}