#landing {
    background: $bgr-green;
}

#calculate {
    
}

#greencheck {
    background: $bgr-green;
}

#resources {

    li::marker {
        color: $font-green;
    }

    a {
        color: $font-green;
    }
}

#mission {
    background: $bgr-green;
}