@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
#footer, nav ul {
  margin: 1rem;
}

section {
  padding: 2rem;
}

nav {
  width: 350px;
  margin: auto;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
nav ul li {
  padding: 0;
  color: #006769;
}
nav ul a {
  color: #006769;
  text-decoration: none;
}

section {
  position: relative;
}

#landing {
  background: #40A578;
}

h1, p {
  color: #E6FF94;
}

#calculate {
  text-align: center;
}
#calculate #calculate-div {
  background: #40A578;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  text-align: left;
}
#calculate #calculate-div p {
  color: #FFFFFF;
}
#calculate #calculate-div img {
  height: 64px;
  margin: 1rem;
}
#calculate #calculate-div a {
  color: #006769;
}

#greencheck {
  background: #40A578;
  text-align: center;
}
#greencheck #greencheck-div {
  background: #A5DD9B;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
}
#greencheck #greencheck-div p {
  color: black;
}
#greencheck #greencheck-div img {
  height: 64px;
  margin: 1rem;
}
#greencheck #greencheck-div a {
  color: #006769;
}

#resources li::marker {
  color: #006769;
}
#resources a {
  color: #006769;
}
#resources ul {
  margin: 0;
  padding: 1rem;
}

#mission {
  background: #40A578;
}
#mission article p {
  color: #FFFFFF;
}

.dark-span {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #A5DD9B;
  border-color: #40A578;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  z-index: 99;
  left: 8%;
  top: -13%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-span p {
  color: #40A578;
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
}

.light-span {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #40A578;
  border-color: #A5DD9B;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  z-index: 99;
  left: 8%;
  top: -13%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.light-span p {
  color: #A5DD9B;
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
}

form * {
  display: block;
  margin: auto;
}

.dark h3 {
  color: #006769;
}
.dark p {
  color: #006769;
}
.dark button {
  color: #FFFFFF;
  background-color: #40A578;
  border-radius: 15px;
  padding: 0.2rem 1.5rem;
  border: 0;
  font-size: 0.7rem;
}
.dark input {
  background-color: #40A578;
  border-radius: 15px;
  padding: 0.4rem 1.8rem;
  border: 0;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  text-align: center;
}
.dark input::placeholder {
  color: #FFFFFF;
  text-align: center;
}
.dark input:focus {
  outline: none;
}

.light h3 {
  color: #E6FF94;
}
.light p {
  color: #E6FF94;
}
.light button {
  color: #006769;
  background-color: #A5DD9B;
  border-radius: 15px;
  padding: 0.2rem 1.5rem 0.2rem 1.5rem;
  border: 0;
  font-size: 0.7rem;
}
.light input {
  background-color: #A5DD9B;
  border-radius: 15px;
  padding: 0.4rem 1.8rem;
  border: 0;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  text-align: center;
}
.light input::placeholder {
  color: #006769;
  text-align: center;
}
.light input:focus {
  outline: none;
}

#calculate h3:first-of-type {
  color: #40A578;
}

#footer {
  display: flex;
  flex-direction: row;
  background-color: #40A578;
  margin: 0;
}
#footer address {
  font-style: normal;
}

body {
  font-family: "Ubuntu Mono", sans-serif;
  background: #A5DD9B;
  margin: auto;
  font-weight: 200;
}

h3 {
  font-weight: 200;
}

h1 {
  font-weight: 200;
  font-size: 2.5rem;
}

p {
  font-size: 0.8rem;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .hidden {
    display: none;
  }
}